# Web Scraping and Automation
selenium
selenium-stealth
webdriver-manager
playwright

# Environment Variables
python-dotenv

# AI/LLM
langchain-groq
langchain
pydantic

# Utilities
pandas
openpyxl
requests
argparse
pathlib

# UI
streamlit

# Data Processing
numpy

# Google Sheets
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread

# Email
secure-smtplib

# Logging and System
python-json-logger

# New dependencies
pytz
apify-client